[Desktop Entry]
Name=Hextor
Name[de]=Hextor
Name[en_GB]=Hextor
Name[es]=Hextor
Name[fr]=Hextor
Name[it]=Hextor
Name[ko]=헥스채트
Name[pl]=Hextor
Name[sq]=Hextor
Name[zh_CN]=Hextor
GenericName=IRC Client
GenericName[de]=IRC-Client
GenericName[en_GB]=IRC Client
GenericName[es]=Cliente de IRC
GenericName[fr]=Client IRC
GenericName[it]=Client IRC
GenericName[ko]=IRC 클라이언트
GenericName[pl]=Klient IRC
GenericName[sq]=Klient IRC
GenericName[zh_CN]=IRC 客户端
Comment=Chat with other people online
Comment[en_GB]=Chat with other people online
Comment[es]=Chatea con otras personas en línea
Comment[fr]=Parlez avec d'autres personnes en ligne
Comment[it]=Chiacchiera con altri utenti online
Comment[ko]=온라인에 있는 사람들과 대화합니다
Comment[pl]=Rozmawiaj z innymi ludźmi przez Internet
Comment[sq]=Bisedoni në linjë me persona të tjerë
Comment[zh_CN]=与其他人在线聊天
Keywords=IM;Chat;
Keywords[en_GB]=IM;Chat;
Keywords[es]=IM;Chat;
Keywords[fr]=IM;Chat;
Keywords[it]=IM;Chat;Messaggistica Istantanea;IRC;
Keywords[ko]=IM;인스턴트 메신저;Chat;대화;
Keywords[pl]=IM;Chat;
Keywords[sq]=IM;Fjalosje;
Keywords[zh_CN]=IM;聊天;
Exec=hextor %U
Icon=hextor
Terminal=false
Type=Application
Categories=GTK;Network;IRCClient;
StartupNotify=true
X-GNOME-UsesNotifications=true
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
Actions=SafeMode;

[Desktop Action SafeMode]
Name=Open Safe Mode
Name[de]=Im sicheren Modus öffnen
Name[en_GB]=Open Safe Mode
Name[es]=Abrir en modo seguro
Name[fr]=Ouvrir le mode sans échec
Name[it]=Apri modalità sicura
Name[ko]=공개 안전 모드
Name[pl]=Otwórz Tryb Bezpieczny
Name[sq]=Hap Mënyrën e Sigurt
Name[zh_CN]=打开安全模式
Exec=hextor --no-auto --no-plugins
