#define LOCALEDIR ".\\share\\locale"
#define ENABLE_NLS
#define USE_PLUGIN
#define USE_OPENSSL
#define HAVE_ISO_CODES
#define ISO_CODES_PREFIX ".\\"
#define ISO_CODES_LOCALEDIR LOCALEDIR
#define PACKAGE_NAME "hextor"
#define PACKAGE_VERSION "<#= [string]::Join('.', $versionParts) #>"
#define HEXTORLIBDIR ".\\plugins"
#define HEXTORSHAREDIR "."
#define OLD_PERL
#define GETTEXT_PACKAGE "hextor"
#define PACKAGE_TARNAME "hextor-<#= [string]::Join('.', $versionParts) #>"
